.aboutus-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutus-title{
  margin-top: 1.5rem;
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}

.aboutus-img-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-img-container img{
    border-radius: 50%;
    border: 5px solid white;
    width: 15rem;
    height: auto;
}

.aboutus-people{
    margin: 0 5px;
    flex: 1 0 calc(25% - 10px);
    text-align: center;
    margin-top: 20px;
}

.aboutus-info{
    color: whitesmoke;
    margin-top: 1.5rem;
    
}

.aboutus-info h6 {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.aboutus-info span{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

