.cover-container{
    width: 100%;
    height: 100vh;
}

.cover-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.cover-title{
    margin-top: calc(1.5rem);
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.cover-links{
    margin-top: 0.5rem;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cover-links-group{
    display: flex;
    align-items: center;
}

.cover-links-group ul{

    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.cover-links-group ul li{
    white-space: nowrap;
}

.cover-links-group ul span{
    margin: 0.1rem;
}

.quote-container{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}   

.quote{
    font-style: italic;
    color: white;
    opacity: 0.8;
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin: 0;
}

.quote p::after{
    content: " - Louda";
    opacity: 0.5;
}

.logo-container{
  margin-top: 5rem;
}

@media (max-width: 600px) {
    .cover-title{
        font-size: 1.5rem;
    }
    .cover-links{
        margin-top: 1rem;
    }
    .cover-links-group ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .cover-links-group ul span{
        display: none;
    }

    .images-container img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
    } 
}

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent; /* Adjust the size of the arrow */
    border-right: 40px solid transparent; /* Adjust the size of the arrow */
    border-top: 80px solid rgba(255, 255, 255, 0.317); /* Adjust the color of the arrow */
    margin-bottom: 10px; /* Adjust the margin between arrow and text */
  }

  .scroll-text {
    font-size: 18px; /* Adjust the font size */
    color: rgba(255, 255, 255, 0.899);; /* Adjust the text color */
  }

@media (min-width:600px) and (max-width: 800px) {
    .cover-title{
        font-size: 1rem;
    }
}
@media (min-width:800px) and (max-width: 1200px) {
    .cover-title{
        font-size: 3.5rem;
    }
    .images-container img{
        width: 300px;
        height: 300px;
         border-radius: 50%;
    }
}