.footer-main{
    background-color: black;
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-sociallinks{
    width: 9%;
    display: flex;
    justify-content: space-between;
}

.footer-sociallinks img{
    width: 32px;
    height:32px;
}

.footer-links{
    width: 10%;
    margin-top: 2rem;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-copyright{
    margin-top: 1rem;
    color:grey;
}