.cover-container{
    width: 100%;
    height: 100vh;
}

.cover-content-container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100vh;
    background-image: url('/src/Frontend/images/bg/cover_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cover-title{
    margin-top: 1.5rem;
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.cover-links{
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
    .cover-title{
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .cover-title{
        font-size: 2rem;
    }
}
@media (max-width: 1200px) {
    .cover-title{
        font-size: 3.4rem;
    }
}